.Login_container {
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#box_container {
  background:url('../img/back.png'), url('../img/back.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top right, bottom right;
  padding: 3em 2em;
  width: 100%;
  font-weight: 500;
  height: 100vh;
}
.login-arrow {
  margin-bottom: 30px;
  font-size: 19px;
  cursor: pointer;
  color: #192252;
}
label {
  text-align: start;
  color: #192252;
}
input {
  width: 100%;
  padding: 0.5em;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #f06723;
  margin: 0.5em 0;
  outline: none;
}
#forgot {
  text-align: right;
  color: #f06723;
  margin-top: 20px;
}
button {
  width: 100%;
  padding: 1em;
  border-radius: 4px;
  border: 1px solid #f06723;
  background-color: #f06723;
  color: #fff;
  font-weight: 700;
  margin: 1em 0;
  cursor: pointer;
}
input[type="text"],input[type="number"],input[type="password"],input[type="email"] {
  background-color: white;
  color: #606D93;
}
.signup {
  text-align: center;
  color: #848FAC;
  padding: .5em 0;
}
.accounts {
  display: flex;
  gap: 1.5em;
}
.fa-google {
  color: #ea4335;
}
.fa-facebook{
  color: #4267B2;
}
.loginbtn {
  font-size: 17px;
}
.social{
  background-color: white;
  border: 1px solid #848FAC;
  color: #848FAC;
}
.yell {
  color: #f06723;
}
.login-arrow p {
  margin: .5em 0;
  color: #848fac;
}

@media (min-width: 768px) {
  #box_container {
    width: 40%;
    height: auto;
    background-color: white;
  }
  .Login_container {
    background-color: #f06723;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.code-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}